body {
    padding: 0px;
    margin: 0px;
}

#gridContainer {
    display: grid;
   /* grid-template-columns: repeat(4, 1fr); */
    height: 850px;
    padding: 10px;
}

.gridSquare {
    border: 1px solid black;
}

.btnContainer {
    display: flex;
}

.btnStyle {
   margin: 20px;
   padding: 10px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
   display: grid;
   margin-left: auto;
   margin-right: auto;
}